In [4]:
import pandas as pd

In [5]:
df_enroll = pd.read_csv("data/kddcup15/train/enrollment_train.csv")
df_log = pd.read_csv("data/kddcup15/train/log_train.csv")
df_truth = pd.read_csv("data/kddcup15/train/truth_train.csv")

In [50]:
df_date = pd.read_csv("data/kddcup15/date.csv")

In [51]:
df_date.head()

                          course_id        from          to
0  bWdj2GDclj5ofokWjzoa5jAwMkxCykd6  2014-05-26  2014-06-24
1  RXDvfPUBYFlVdlueBFbLW0mhhAyGEqpt  2014-05-25  2014-06-23
2  fbPkOYLVPtPgIt0MxizjfFJov3JbHyAi  2014-01-17  2014-02-15
3  A3fsA9Zfv1X2fVEQhTw51lKENdNrEqT3  2014-05-28  2014-06-26
4  5X6FeZozNMgE2VRi3MJYjkkFK8SETtu2  2014-06-09  2014-07-08

In [52]:
df_date['start'] = pd.to_datetime(df_date['from'])
df_date['end'] = pd.to_datetime(df_date['to'])
df_date['duration'] = (df_date['end']-df_date['start']).dt.days/7
df_date.groupby('duration').nunique()

          course_id  from  to  start  end
duration
4.142857         39    26  26     26   26

In [6]:
df_enroll.head()

,enrollment_id,username,course_id
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
1,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
2,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila
3,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx
4,6,dpK33RH9yepUAnyoywRwBt1AJzxGlaja,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd

In [40]:
df_log[df_log['object']=='3T6XwoiMKgol57cm29Rjy8FXVFcIomxl']

,enrollment_id,time,source,event,object
1,1,2014-06-14T09:38:39,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
12,1,2014-06-14T09:44:29,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
14,1,2014-06-19T06:21:16,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
17,1,2014-06-19T06:21:32,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
19,1,2014-06-19T06:21:46,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
...,...,...,...,...,...
8157255,200888,2014-07-24T03:48:14,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
8157257,200888,2014-07-24T03:50:17,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
8157269,200901,2014-07-24T14:07:55,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
8157272,200901,2014-07-24T14:11:31,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
8157274,200901,2014-07-24T14:11:41,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl

In [48]:
df_log.groupby('event').nunique()

            enrollment_id     time  source  object
event
access              91370  2151338       2    1674
discussion          40666   600992       1       1
navigate           120499   914766       1      59
page_close          84225  1110587       1       1
problem             41180   791141       2    2133
video               76120   740763       1    2026
wiki                31386    87947       1       1

In [39]:
df_log.sample(n=50)

,enrollment_id,time,source,event,object
1928277,17716,2013-11-24T14:30:05,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
4162139,49678,2014-06-24T02:21:22,browser,problem,9SBbL9tcaQMHGJVpb2EoSTb39mCKUVTf
5482230,85841,2013-11-17T18:35:28,browser,video,MUWMnwkgJc1vCx1Ml85mYktr0wYFCApT
359541,3249,2013-12-27T03:29:01,browser,access,71hj2LbbIXBSADkLHdxAKFecf4pmBefY
2666709,26129,2014-05-26T06:10:15,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
2065508,18937,2013-11-28T14:29:07,browser,problem,egG5LOzMo8Cveckadhf0oZmlM9HdZ2dk
6442215,115778,2013-12-03T09:55:52,server,problem,tX1xKwtC1YlZAhVcFHIE8yZ5ll5CWyPE
6347032,114560,2014-06-25T12:24:11,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
6097921,109728,2014-06-11T14:46:47,server,access,O2iji5jzb0lRtaR7vX23t7OUVcPWjDbm
2438714,23217,2014-06-07T06:13:23,browser,video,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
7537383,147371,2014-05-25T10:44:48,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b
1540761,13727,2014-06-12T11:28:57,browser,problem,8ZItnr4VczwEzu06Xx0rNDvKBjJWH3ux
5451338,85385,2013-11-17T09:32:37,server,access,C2J7yGTjDFBydcGt1a2OLXcpkfqW4Ybe
5059403,71906,2014-06-19T07:30:48,server,wiki,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
4599771,59493,2013-11-22T08:12:07,server,problem,bkEc8rmpckFJ62KW5p11FHLylnPCQ46p
5148319,74399,2014-06-10T15:33:40,browser,problem,NJ1PMuAFYlAd0CC9ZsqohITtqlxaLJD0
702586,5691,2014-06-13T14:34:43,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
2423028,23030,2014-06-02T16:43:18,server,access,8pfY7qc4lDUPT3xIlKWGFBJ3H7u5iufK
5812761,96602,2013-10-30T14:32:36,browser,problem,FEjxw3y7kVHSKuDK0DU2MWYxK28fXvFA
5913343,99970,2014-05-22T11:47:40,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
6457230,116009,2013-11-26T05:58:33,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
4825243,64685,2013-11-16T04:27:09,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b
3565825,37634,2014-05-30T02:44:49,browser,access,qbI3DuclxEeO5W6vAEXKVoojAHC2A0G3
2520313,24215,2014-06-21T13:35:06,server,access,4o69kpp03HkBbpCNlAyVV3SmFCnKHTRN
1673258,15100,2014-07-09T04:51:57,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
5668639,90855,2014-06-10T01:24:24,server,access,MQZcApsTY2oQbjUqyAQX7jNWENKU34VI
2227751,20966,2014-01-06T06:03:48,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
3030512,30531,2013-11-23T14:58:41,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
20690,138,2014-06-27T12:12:07,browser,access,PSjYLli3GRFSCsvRX8SbKhC6uC0uxoiM
6334830,114306,2014-06-14T06:10:45,browser,video,B5d404cq3fvYiuV0CZGRdIj5YiDNRLAq
7395827,139910,2013-11-19T12:43:41,browser,access,CVgeVngtOd7E4F2zfpaDpa0DENBcUAgO
1597076,14371,2013-11-05T08:56:40,server,discussion,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
5229430,76950,2014-07-12T08:02:39,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
2182356,20370,2013-12-04T09:13:35,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
3777546,41957,2013-12-15T04:36:39,server,access,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
2057798,18866,2013-11-26T11:49:17,server,discussion,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
290478,2573,2013-12-20T14:01:37,server,discussion,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
4103589,48690,2014-06-06T13:00:23,server,access,DbJal9mMM2U2Xow3Anr27ikeJrt9y73y
3433189,35784,2014-06-16T10:57:04,server,navigate,Oj6eQgzrdqBMlaCtaq1IkY6zruSrb71b
3065684,30890,2014-06-18T14:09:11,browser,problem,4OCsW0E9bdBYJ5XdNHOV91aJFIrLkZze
2497212,23902,2014-06-10T13:32:14,browser,access,xvKGEDIRzJvaqZPBvWo5LYMfRY7XvkjY
7065628,129238,2013-11-22T07:06:56,server,access,Xh1XuAbjDdqsVRcGCiAulIQMM3uqGGL8
1930167,17737,2013-11-18T13:01:37,server,access,VufZJmHmFk4OlcwjxUCKQgglTApi7g3g
2533760,24471,2014-06-08T16:24:40,browser,problem,TkpYcTHmWWpPyZh3h4KomrMNULht9oOp
6271288,113340,2013-12-20T14:13:07,browser,page_close,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
1954258,17924,2013-11-29T23:52:04,server,navigate,cF0fMr9vkStFpfEj29U5ljbhNLciMaZq
391509,3598,2013-12-12T15:45:27,browser,problem,TKxftDvpX5viHakzU0F7jC9na449K9ep
5273242,78738,2014-06-11T13:23:08,server,discussion,3T6XwoiMKgol57cm29Rjy8FXVFcIomxl
3639428,39082,2014-06-19T13:31:14,browser,problem,baxiACS14rD8AfEApdRNo9BjL6aAojHN
7839843,167965,2014-07-20T08:12:19,server,access,K72vZ1whXNxqhn8SOx0yShqDfapy40f0

In [10]:
df_log['event'].unique(), df_log['source'].unique()

(array(['navigate', 'access', 'problem', 'page_close', 'video',
        'discussion', 'wiki'], dtype=object),
 array(['server', 'browser'], dtype=object))

In [8]:
df_date = pd.read_csv("data/kddcup15/date.csv")
df_object = pd.read_csv("data/kddcup15/object.csv")

In [35]:
s1 = set(df_object['module_id'].unique())

In [37]:
len(s1.intersection(s2))

5720

In [36]:
s2 = set(df_log['object'].unique())

In [14]:
df_object['category'].unique(), len(df_object['course_id'].unique())

(array(['about', 'chapter', 'course', 'course_info', 'html', 'outlink',
        'problem', 'sequential', 'static_tab', 'vertical', 'video',
        'combinedopenended', 'peergrading', 'discussion', 'dictation'],
       dtype=object),
 39)

In [30]:
sum(df_object['category'] == 'discussion')

1738

In [20]:
len(df_object)

27249

In [16]:
df_log['object'].nunique()

5890

In [17]:
len(df_log['object'])

8157277

In [28]:
pd.to_datetime(df_date['from'])

0    2014-05-26
1    2014-05-25
2    2014-01-17
3    2014-05-28
4    2014-06-09
5    2013-12-11
6    2014-05-26
7    2013-11-01
8    2014-05-25
9    2014-06-19
10   2014-06-11
11   2013-10-30
12   2013-12-11
13   2014-05-13
14   2014-05-29
15   2014-05-19
16   2014-05-29
17   2014-05-28
18   2013-12-02
19   2014-05-26
20   2013-11-25
21   2013-12-12
22   2014-06-04
23   2014-05-25
24   2013-11-26
25   2014-05-26
26   2014-05-28
27   2014-05-20
28   2014-06-12
29   2013-10-27
30   2014-05-25
31   2014-05-29
32   2013-12-17
33   2014-06-15
34   2014-05-19
35   2014-07-03
36   2013-11-11
37   2013-11-28
38   2014-05-29
Name: from, dtype: datetime64[ns]

In [55]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import precision_score, recall_score

In [82]:
def load_data(data_type='train'):
    """Load the required datasets."""
    base_path = f'data/kddcup15/{data_type}/'
    enrollment = pd.read_csv(f'{base_path}enrollment_{data_type}.csv')
    log = pd.read_csv(f'{base_path}log_{data_type}.csv')
    truth = pd.read_csv(f'{base_path}truth_{data_type}.csv', header=None, names=['enrollment_id', 'dropout'])
    return enrollment, log, truth

def load_additional_data():
    """Load date and object data."""
    date_df = pd.read_csv('data/kddcup15/date.csv')
    object_df = pd.read_csv('data/kddcup15/object.csv')
    return date_df, object_df

In [83]:
def preprocess_enrollment(enrollment):
    """Preprocess the enrollment data."""
    # Create copies of username and course_id for encoding
    #enrollment['username_encoded'] = enrollment['username']
    #enrollment['course_id_encoded'] = enrollment['course_id']
    
    #le = LabelEncoder()
    #enrollment['username_encoded'] = le.fit_transform(enrollment['username_encoded'])
    #enrollment['course_id_encoded'] = le.fit_transform(enrollment['course_id_encoded'])
    return enrollment


def process_date_data(date_df, enrollment_df):
    """Process date data and merge with enrollment data."""
    date_df['from'] = pd.to_datetime(date_df['from'])
    date_df['to'] = pd.to_datetime(date_df['to'])
    date_df['course_duration'] = (date_df['to'] - date_df['from']).dt.days

    return pd.merge(enrollment_df, date_df[['course_id', 'course_duration']], on='course_id', how='left')

def process_object_data(object_df, enrollment_df):
    """Process object data and create features."""
    # Count the number of modules per course
    modules_per_course = object_df.groupby('course_id').size().reset_index(name='module_count')
    
    # Count the number of each category per course
    category_counts = object_df.groupby(['course_id', 'category']).size().unstack(fill_value=0)
    category_counts.columns = [f'category_{col}_count' for col in category_counts.columns]
    
    # Merge all object features
    object_features = pd.merge(modules_per_course, category_counts, on='course_id', how='left')
    
    return pd.merge(enrollment_df, object_features, on='course_id', how='left')

In [84]:
def aggregate_log_data(log):
    """Aggregate log data to create features."""
    return log.groupby('enrollment_id').agg({
        'source': 'count',
        'event': lambda x: x.nunique(),
        'object': 'nunique'
    }).rename(columns={
        'source': 'activity_count',
        'event': 'unique_events',
        'object': 'unique_objects'
    })

def merge_datasets(enrollment, log_features, truth=None):
    """Merge the preprocessed datasets."""
    df = pd.merge(enrollment, log_features, on='enrollment_id', how='left')
    df.fillna(0, inplace=True)
    if truth is not None:
        df = pd.merge(df, truth, on='enrollment_id')
    return df

def engineer_features(df):
    """Perform feature engineering."""
    df['event_object_ratio'] = df['unique_events'] / (df['unique_objects'] + 1)
    df['activity_per_event'] = df['activity_count'] / (df['unique_events'] + 1)
    return df

def prepare_features(df):
    """Prepare features for model training or prediction."""
    X = df.drop(['enrollment_id', 'dropout','username','course_id'], axis=1)
    y = df['dropout']
    return X, y


def engineer_additional_features(df):
    """Engineer additional features using the new data."""
    df['modules_per_day'] = df['module_count'] / df['course_duration']
    df['category_diversity'] = df[[col for col in df.columns if col.startswith('category_')]].gt(0).sum(axis=1)
    return df

In [85]:
def train_model(X, y):
    """Train the Random Forest model."""
    model = RandomForestClassifier(n_estimators=50, random_state=42)
    model.fit(X, y)
    return model

def evaluate_model(model, X, y):
    """Evaluate the model and return performance metrics."""
    y_pred = model.predict(X)
    y_pred_proba = model.predict_proba(X)[:, 1]
    accuracy = accuracy_score(y, y_pred)
    auc = roc_auc_score(y, y_pred_proba)
    return accuracy, auc

In [73]:
def calculate_metrics(y_true, y_pred, y_pred_proba):
    """Calculate accuracy, AUC, precision, and recall."""
    accuracy = accuracy_score(y_true, y_pred)
    auc = roc_auc_score(y_true, y_pred_proba)
    precision = precision_score(y_true, y_pred)
    recall = recall_score(y_true, y_pred)
    return accuracy, auc, precision, recall

In [86]:
train_enrollment, train_log, train_truth = load_data('train')
test_enrollment, test_log, test_truth = load_data('test')

train_enrollment = preprocess_enrollment(train_enrollment)
test_enrollment = preprocess_enrollment(test_enrollment)

train_log_features = aggregate_log_data(train_log)
test_log_features = aggregate_log_data(test_log)

train_df = merge_datasets(train_enrollment, train_log_features, train_truth)
test_df = merge_datasets(test_enrollment, test_log_features, test_truth)


        # Pro

In [87]:
train_df.head()

,enrollment_id,username,course_id,activity_count,unique_events,unique_objects,dropout
0,1,9Uee7oEuuMmgPx2IzPfFkWgkHZyPbWr0,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,314,5,95,0
1,3,1qXC7Fjbwp66GPQc6pHLfEuO8WKozxG4,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,288,6,99,0
2,4,FIHlppZyoq8muPbdVxS44gfvceX9zvU7,DPnLzkJJqOOPRJfBxIHbQEERiYHu5ila,99,5,29,0
3,5,p1Mp7WkVfzUijX0peVQKSHbgd5pXyl4c,7GRhBDsirIGkRZBtSMEzNTyDr2JQm4xx,633,6,111,0
4,6,dpK33RH9yepUAnyoywRwBt1AJzxGlaja,AXUJZGmZ0xaYSWazu8RQ1G5c76ECT1Kd,23,5,16,0

In [88]:
def main():
    try:
        # Load all data
        train_enrollment, train_log, train_truth = load_data('train')
        test_enrollment, test_log, test_truth = load_data('test')
        #date_df, object_df = load_additional_data()

        # Preprocess enrollment data
        train_enrollment = preprocess_enrollment(train_enrollment)
        test_enrollment = preprocess_enrollment(test_enrollment)

        # Process date and object data
        #train_enrollment = process_date_data(date_df, train_enrollment)
        #train_enrollment = process_object_data(object_df, train_enrollment)
        #test_enrollment = process_date_data(date_df, test_enrollment)
        #test_enrollment = process_object_data(object_df, test_enrollment)

        # Aggregate log data
        train_log_features = aggregate_log_data(train_log)
        test_log_features = aggregate_log_data(test_log)

        # Merge datasets
        train_df = merge_datasets(train_enrollment, train_log_features, train_truth)
        test_df = merge_datasets(test_enrollment, test_log_features, test_truth)

        # Engineer features
        train_df = engineer_features(train_df)
        test_df = engineer_features(test_df)
        #train_df = engineer_additional_features(train_df)
        #test_df = engineer_additional_features(test_df)

        # Prepare features
        X_train, y_train = prepare_features(train_df)
        X_test, y_test = prepare_features(test_df)

        # Train the model
        model = train_model(X_train, y_train)

        # Evaluate on training data
        y_train_pred = model.predict(X_train)
        y_train_pred_proba = model.predict_proba(X_train)[:, 1]
        train_metrics = calculate_metrics(y_train, y_train_pred, y_train_pred_proba)
        
        print("Training Metrics:")
        print(f"Accuracy: {train_metrics[0]:.4f}")
        print(f"AUC: {train_metrics[1]:.4f}")
        print(f"Precision: {train_metrics[2]:.4f}")
        print(f"Recall: {train_metrics[3]:.4f}")

        # Evaluate on test data
        y_test_pred = model.predict(X_test)
        y_test_pred_proba = model.predict_proba(X_test)[:, 1]
        test_metrics = calculate_metrics(y_test, y_test_pred, y_test_pred_proba)
        
        print("\nTest Metrics:")
        print(f"Accuracy: {test_metrics[0]:.4f}")
        print(f"AUC: {test_metrics[1]:.4f}")
        print(f"Precision: {test_metrics[2]:.4f}")
        print(f"Recall: {test_metrics[3]:.4f}")

       
    except Exception as e:
        print(f"An error occurred: {str(e)}")
        print("Stack trace:")
        import traceback
        traceback.print_exc()

if __name__ == "__main__":
    main()

Training Metrics:
Accuracy: 0.9083
AUC: 0.9018
Precision: 0.9102
Recall: 0.9813

Test Metrics:
Accuracy: 0.8331
AUC: 0.7814
Precision: 0.8689
Recall: 0.9295

Predictions saved to submission.csv

In [89]:
F1 = 2*0.86*0.93/(0.86+0.93)

In [1]:
F1

NameError: name 'F1' is not defined